.hero-section {
  position: relative;
  height: 100vh;
  display: grid;
}

a {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: max-content;
  padding-block: 0.75em;
}

img {
  margin-inline: auto;
}

.hero-container {
  position: absolute;
  left: 30em;
  top: 25%;
}

#hero-header {
  font-family: "Times Modern", serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 3rem;
}

#hero-firstname {
  padding-inline-start: 1em;
}

#hero-lastname {
  display: block;
  font-size: 90px;
}

#hero-header--highlight {
  display: block;
  color: #ff7676;
  font-size: 3rem;
  font-weight: bold;
  padding-inline-start: 1em;

  line-height: 35px;
  padding-block-end: 0.5em;
}

#hero-subhead {
  font-family: "Times Digital W04 Regular", serif;
  padding-inline-start: 2em;
  width: 240px;
}

#hero-scrollcontainer {
  position: absolute;
  bottom: 5em;
  left: calc(30em + 1em);

  width: min-content;

  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: bold;
  text-shadow: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#hero-scrollcontainer--icon {
  stroke: white;
  stroke-width: 2;
  fill: none;
}

svg > #wheel,
svg > #chevron {
  transform-origin: 0 10px;
  animation: scroll 1s ease-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.2em);
  }

  100% {
    transform: translateY(0);
  }
}
