.progress-bar {
  position: absolute;
  top: 9em;
  left: 2em;
  height: 80svh;

  display: flex;
  flex-direction: column;

  z-index: 99999;
}

.bar {
  height: 1px;
  width: 10px;

  margin: 0.15em;

  transition: background-color 500ms ease-in;
}

#halftime {
  width: max-content;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  margin-block-end: 1.5em;
}

.active {
  background-color: #ff7676;
}

.inactive {
  background-color: #ffffff;
  opacity: 75%;
}
