.scroll-container {
  font-size: 18px;
  font-family: "Times Modern", serif;
  padding-block-end: 50vh;
}

.sticky-container {
  position: sticky;
  height: 100svh;
  top: 0;
}

.image-container {
  position: absolute;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  background: linear-gradient();
  background-size: 100%;
  transition: opacity 500ms ease-in;
}

.step-container:first-of-type {
  margin-block-start: 0svh;
}

.step-container {
  margin: 90svh 0;
  position: relative;

  width: 30svw;
  padding: 0.5em;
  min-height: fit-content;

  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.right {
  left: 65%;
  margin-inline-end: 2em;
}

.left {
  left: 10%;
}

.step-heading {
  color: #ff7676;
}
