#scroll-container {
  font-size: 1rem;
  font-family: "Times Modern", serif;
  padding-block-end: 10svh;
}

#sticky-container {
  position: sticky;
  height: 100svh;
  top: 0;
}

#gradient-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100svw;
  height: 100svh;
  z-index: 9999;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5298494397759104) 0%,
    rgba(116, 116, 116, 0) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* BACKGROUND IMAGE STYLES */

.image-container {
  position: absolute;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  transition: opacity 500ms ease-in, transform 1s ease-in 250ms;
}

.burst-container {
  z-index: 9999;

  width: 100%;
  height: 100svh;

  position: absolute;
  top: 0;
  left: 0;
}

.burst-image-container {
  position: absolute;

  width: 100%;
  height: 100%;
}

.burst-button {
  position: absolute;
  bottom: 10%;
  left: 75%;

  width: 20em;

  background-color: white;
  border: 1px solid black;
  color: black;

  padding-block: 1em;

  cursor: pointer;
  z-index: 999999;

  font-family: "RobotoRegular", sans-serif;

  transition: opacity 250ms ease-in;
}

/* STEP STYLES */

.step-container {
  margin: 80svh 0;
  position: relative;

  width: 30svw;

  padding: 0.5em;
  height: min-content;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.step-container:first-of-type {
  margin-block-start: 0;
}

.step-container:last-of-type {
  margin-block-end: 20svh;
}

.none {
  opacity: 0;
  height: 20em;
}

.right {
  left: 65%;
  margin-inline-end: 2em;
}

.left {
  left: 10%;
}

.ht {
  opacity: 0;
  margin: 0;
  height: 100svh;
}

.ft {
  opacity: 0;
}

.annotated {
  padding-block: 40svh;
  background-color: rgba(0, 0, 0, 0);
}

.step-heading {
  color: #ff7676;
}

/* HALFTIME STYLES */

#rect-1,
#rect-2,
#rect-3 {
  transition: opacity 250ms ease-in;
}

#halftime-container {
  position: sticky;
  height: 100%;
  width: 100%;

  z-index: 99999;

  top: 0;
  left: 0;

  transition: opacity 250ms ease-in;

  /* Split the container into two */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#halftime-container--text {
  width: 70%;
  margin-block-start: 1em;
}

#halftime-header {
  color: #ffdf7e;
  font-family: "Times Modern", serif;
  font-size: 80px;
  line-height: 50px;
  transition: opacity 250ms ease-in;
  margin-inline-start: 1.5em;
}

#halftime-subhead {
  display: block;
  font-size: 45px;
  color: #ff7676;
  margin-inline-start: 3.5em;
  transition: opacity 250ms ease-in;
}

#halftime-analysis {
  margin-block-start: 1em;
  transition: opacity 250ms ease-in;
}

hr {
  width: 100%;
  margin-inline: auto;
  margin-block-start: 1em;

  border: none;
  border-block-start: 1px dashed whitesmoke;
  transition: opacity 250ms ease-in;
}

#second-half--header {
  color: #ffdf7e;
  font-family: "Times Modern", serif;
  font-size: 45px;
  transition: opacity 250ms ease-in 250ms;
  margin-inline-start: 1.5em;
  margin-block-start: -3em;
}

#second-half--subhead {
  color: #ff7676;
  font-size: 8rem;
  display: block;
  line-height: 5rem;
}

/* PITCH STYLES */

#pitch-container {
  width: 40em;
  height: 40em;
}

.line {
  stroke: white;
  stroke-width: 2px;
}

/* ANNOTATED SLIDE STYLES */

#annotated-slide--container {
  height: 100svh;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transition: opacity 1s ease-in 250ms;
}

#annotated-slide {
  transition: opacity 250ms ease-in;
}

#annotated-slide > g {
  transition: opacity 250ms ease-in;
}

/* FULLTIME STYLES */
#fulltime-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

#fulltime-gradient {
  background-color: black;
  opacity: 0.5;

  width: 100svw;
  height: 100svh;

  position: absolute;
  top: 0;
  left: 0;
}

#fulltime-header {
  font-size: 90px;
  color: #ffdf7e;
  opacity: 1;
  z-index: 99999;
}

#fulltime-subhead {
  color: #ff7676;
  font-size: 8rem;
  display: block;
  line-height: 2rem;
  margin-inline-start: -0.6em;
}

/* ANALYSIS CONTAINER */
#analysis-container {
  width: 100svw;
  height: 100svh;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 99999;

  transition: opacity 250ms ease-in;

  /* Split the container into two */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#analysis-container--text {
  width: 70%;
  margin-block-start: 1em;
}

#analysis-header {
  color: #ffdf7e;
  font-family: "Times Modern", serif;
  font-size: 80px;
  line-height: 50px;
  transition: opacity 250ms ease-in;
  margin-inline-start: 1.5em;
}

#analysis-subhead {
  display: block;
  font-size: 45px;
  color: #ff7676;
  transition: opacity 250ms ease-in;
}

#analysis-analysis {
  margin-block-start: 1em;
  transition: opacity 250ms ease-in;
}
